Repository tektoncd/triggers, pull requests merged in 2024-11, with the labels that each got.

#1770 Add dependabot to update go mod and github action dependencies
  .github/dependabot.yml
Labels: lgtm, approved, size/S, release-note-none

#1773 Rename `Decade` to `Century`
  pkg/interceptors/server/server.go
  pkg/interceptors/server/server_test.go
Labels: ok-to-test, lgtm, approved, size/S, release-note-none, kind/misc

#1769 Update the relese cheat-sheet
  tekton/release-cheat-sheet.md
Labels: kind/documentation, lgtm, approved, size/S, release-note-none
