Repository tektoncd/triggers, pull requests merged in 2024-09, with the labels that each got.

#1761 Bump Pipeline to v0.62.3
  go.mod
  go.sum
  pkg/resources/create_test.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/artifact_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/taskrun_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: lgtm, approved, size/M, release-note-none

#1760 Set readOnlyRootFilesystem as true in Interceptor
  config/interceptors/core-interceptors-deployment.yaml
Labels: release-note, lgtm, size/XS, approved, kind/security

#1767 Migrate nightly builds and releases to ghcr.io
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Labels: lgtm, size/L, approved, release-note-none, kind/misc

#1759 Update release doc with v0.29.0 LTS
  README.md
  releases.md
Labels: kind/documentation, lgtm, approved, release-note-none
